h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    color:rgb(179, 33, 64);
    margin-top: 5px;
    margin-bottom: 5px;
}

h4{
    font-family: 'Roboto', sans-serif;
    color:black;
    margin-top: 10px;
    margin-bottom: 2px;
}

p, ul{
    font-family: 'Roboto', sans-serif;
}


.scaled-image {
    width: 60%;
    height: auto;
}

.body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20;
    text-align: left;
}

.container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
padding: 20px;
}

.content {
    width: 100%;
    max-width: 1250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.button {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(179, 33, 64);
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
}

.button svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    fill: white;
}

.button:hover {
    background-color:rgb(107, 20, 38);
}

.justify {
    text-align: justify;
}

.image-container {
    text-align: left;
}

.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    justify-content: left;
    width: 100%;
}

.example-container .row:last-child {
  border-bottom: 1px solid black;
}

.audio-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 20px;
}

.audio-title {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 25%;
}


.input {
    background-color: rgb(37, 37, 37);
    color: white;
}

.output {
    background-color: rgb(179, 33, 64);
    color: white;
}

pre {
    margin: 0;
    padding: 0px;
    overflow-x: auto;
    font-size: 14px;
}

code {
    font-family: 'Roboto', sans-serif;
}